@charset "utf-8";
/* CSS Document */
body {
    font-family: "Microsoft YaHei",Arial,sans-serif,SimHei;
}
a:focus{   outline:none;    -moz-outline:none; }
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
}
/*.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {*/
    /*outline: none;*/
/*}*/
.nav > li > a:focus, .nav > li > a:hover {
    outline: none;
}
.has-feedback .form-control{
    padding-right: 0px;
}
.form-control{
    padding-right: 2px;
}
.navbar-top{
    padding-top: 2px;
    padding-bottom: 0px;
    background-image: url(../public/images/nav_bg.png);
    box-shadow: 1px 1px 5px #ccc;
}
.navbar-text-red{
    color: #d9534f;
}
.navbar-text-gray{
    color: #bfbfbf;
}
.light-grey-bg {
    border-color: #eee;
}
.Background-text {
    /*color: #bfbfbf;*/
}
.has-feedback .form-control {
    /*padding-right: 13.5px;*/
}
.Background-text h3{
    margin-bottom: 20px;
    margin-top: 20px;
    color: #bfbfbf;
}
/* 立案左侧菜单栏按钮样式 start *
*******************************/
.filing-item{
    text-align: center;
}
.filing-item.active, .filing-item.active:hover, .filing-item.active:focus {
    background-color: #d9534f;
    border-color: #d9534f;
}
.floor-button{
    margin-bottom:120px;
    margin-top:30px;
}
.filing-icon{
    color: #d9534f;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top:none;
}
ul.nav-tabs{
    width: 160px;
    /*margin-top: 20px;*/
    border-radius: 0px;
    border-bottom: none;
    /*border: 1px solid #ddd;*/
    /*box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);*/
}
ul.nav-tabs li{
    margin-bottom:10px;
    /*border-top: 1px solid #ddd;*/
}
ul.nav-tabs li:first-child{
    border-top: none;
}
ul.nav-tabs li a{
    margin: 0;
    padding: 8px 16px;
    border-radius: 0;
    background: #f5f5f5;
    color: #6a6a6a;
}
ul.nav-tabs li.active a, ul.nav-tabs li.active a:hover{
    color: #fff;
    background: #d9534f;
    border: 1px solid #d9534f;
}
ul.nav-tabs li:first-child a{
    border-radius: 4px 4px 0 0;
}
ul.nav-tabs li:last-child a{
    border-radius: 0 0 4px 4px;
}
ul.nav-tabs.affix{
    top: 30px; /* Set the top position of pinned element */
    z-index: 2;
}
/******************************
 立案左侧菜单栏按钮样式 end */


/*弹窗插件 layer start *
******************************/
.layui-layer-title {
    background-color: #d9534f;
    color: #fff;
}
.container-layer{
    padding-top: 10px;
    padding-left: 10px;
    padding-right:40px;
}
.form-inline-input .input-140{
    width:140px;
}
.container-layer-floor{
    margin-top: 50px;
    margin-bottom:50px;
}
.input-text{
    padding-left: 5px;
    padding-right: 5px;
}
/******************************
 弹窗插件 layer end */


/*登录注册页面选项卡样式  start *
******************************/
.Login-box{
    display:block;
    float:none;
    margin-left:auto;
    margin-right:auto;
    margin-top: 60px;
    margin-bottom: 90px;
    width: 500px;
    border:1px solid #d9534f;
}
.Lonin-nav-tabs {
    /*border-bottom: 1px solid #ddd;*/
    width: 100%;
}
.Lonin-nav-tabs > li {
    /*float: left;*/
    margin-bottom: -1px;
    /*width: 50%;*/
    /*text-align: center;*/
}
.nav > li {
    /*display: block;*/
    position: relative;
}
.Lonin-nav-tabs > li.active > a, .Lonin-nav-tabs > li.active > a:focus, .Lonin-nav-tabs > li.active > a:hover {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #d9534f;
    /*border-color: #ddd #ddd transparent;*/
    border-image: none;
    border-style: solid;
    border-width: 1px;
    color: #fff;
    cursor: default;
}
.Lonin-nav-tabs > li > a {
    border: 1px solid transparent;
    border-radius:0px;
    line-height: 2.429;
    background-color:#fff;
    color: #d9534f;
    font-size: 18px;
    /*margin-right: 2px;*/
}
.Lonin-nav-tabs > li a:hover,
.Lonin-nav-tabs > li a:focus{
    background-color:#fff;
}
.tab-content-text{
    padding:40px;
}
.tab-pane .control-group::after {
    clear: both;
}
.control-group{
    display: table;
    margin-bottom: 18px;
}
/******************************
登录页面选项卡样式 end */

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    vertical-align: inherit;
}
.control-label{
    margin-bottom: 0px;
    padding-top: 7px;
}

/*.input-icon > [class*="icon-"] {
    bottom: 1px;
    color: #909090;
    display: inline-block;
    font-size: 16px;
    right: 14px;
    line-height: 28px;
    padding: 0 3px;
    position: absolute;
    top: 8px;
    z-index: 2;
}*/
/*span.input-icon{*
    display: inline-block;
}*/
/*.input-icon{
    position: relative;
}*/
.icon-search{
    position: absolute;
    right: 20px;
    top: 17px;
    color: #909090;
    font-size: 16px;
    z-index: 2;
}
.filing-table{
    margin-top: 0px;
    margin-bottom: 0px;
}
.well-container{
    overflow: auto;
    height: 400px;
    width: auto;
}
.well-container-text{
    margin: 20px 40px;
}


/**************************
垂直选项卡样式   *********/
.nav-pills-personal > li.active > a, .nav-pills > li.active > a:hover, .nav-pills-personal > li.active > a:focus {
    background-color: #e0e0e0;
    color: #d43f3a;
    /*border-right: 10px solid #e0e0e0;*/
}
.nav-pills-personal > li > a {
    border-radius: 0px;
    background-color: #f0f0f0;
    color: #737373;
    margin-bottom: 10px;
    border-right: 10px solid #fff;
}
.tab-content-personal{
    background-color: #e0e0e0;
    padding: 30px;
}

.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #333333;
    text-align: center;
    background-color: #f5f5f5;
    border:solid thin #bfbfbf;
    border-radius: 4px;
    margin-bottom: 7px;
}
.btn-default-lg {
    background-color: #fff;
    border-color: #ccc;
    color: #333;
    border-radius: 6px;
    font-size: 18px;
    line-height: 1.33333;
    padding: 10px 16px;
}


.page-block {
    color: #ffffff;
    background-color: #45C01A;
    height: 70px;
    width: 70px;
    overflow: hidden;
    padding: 5px;
    text-align: center;
    display: inline-block;
    border-radius: 100px;
    border: 3px solid #45C01A;
}

.page-title-text {
    display: inline-block;
    margin-left: 10px;
}

.panel-danger {
    border-radius: 3px 3px 0px 0px;
    font-size: 100%;
}


.panel-light {
    border-color: #d9534f currentcolor currentcolor;
    margin-top: 3px;
}

/*求助小法官图标样式 正常*/
.judge-icon-normal {
    width: 150px;
    padding-top: 30px;
}

/*求助小法官图标样式 底部悬浮*/
.judge-icon-bottom {
    position: fixed;
    bottom: 10px;
    width: 150px;
    z-index: 1;
}

/*文本自动加载邮箱*/
.parentCls {
    height:auto; margin:0 auto;
}
.auto-tip li {
    width:100%;
    height:22px;
    line-height:22px;
    font-size:14px;
}
.auto-tip li.hoverBg {
    background:#ddd;
    cursor:pointer;
}
.red {
    color:#333;
}
.hidden {
    display:none;
}
/**  高拍仪样式 start
*****************************/
.cameraArea{
    margin:0px auto;
    width: 600px;
}
.cameraArea-container{
    height: 300px;
    width: 100%;
    background-color: #C8C8C8;
}
.cameraArea-floot{
    margin: 10px auto;
}
.picture-list .thumbnail{
    width: 120px;
    position: relative;
    float: left;
    margin: 10px;
}
.thumbnail-img{
    width: 100%;
    background-color: #f8f8f8;
}
.thumbnail-img img{
    width: 100%;
}
.picture-list .thumbnail .caption{
    padding: 2px;
}
.picture-list .thumbnail .caption p{
    margin: 0px;
    font-size: 12px;
}
/******************************
高拍仪样式 end */

/*-----登录默认提示-----*/
.close{ display: none; }
.user-input{ position: relative; }
.user-input:focus + .placeholder-text{ display: none; }
.placeholder-text{ color: #9d9d9d; position: absolute; font-size: 18px; top: 12px; left: 22px; }