.law-item-highlight {
  color: red;
}

/*  input输入框*/
.ant-input:focus {
  border-color: #95393c !important;
  outline: 0;
  -webkit-box-shadow: 0 0 0 2px rgba(149, 57, 60, 0.09);
  box-shadow: 0 0 0 2px rgba(149, 57, 60, 0.09);
  border-right-width: 1px !important;
}
.ant-input:hover {
  border-color: #95393c !important;
  border-right-width: 1px !important;
}

.h-100 {
  height: 100%;
}

.ant-select-focused .ant-select-selection,
.ant-select-selection:focus,
.ant-select-selection:active {
  border-color: #95393c !important;
  outline: 0;
  -webkit-box-shadow: 0 0 0 2px rgba(149, 57, 60, 0.09);
  box-shadow: 0 0 0 2px rgba(149, 57, 60, 0.09);
  border-right-width: 1px !important;
}

.ant-select-selection:hover {
  border-color: #95393c !important;
  border-right-width: 1px !important;
}

::selection {
  background: #95393c;
  color: #fff;
}

.ant-btn-primary {
  background-color: #95393c;
  border-color: #95393c;
}

.ant-btn-primary:focus {
  background-color: #95393c;
  border-color: #95393c;
}

.ant-layout-sider {
  background: #fff;
}

// .ant-layout{
//   background: #fff;
// }

// 隐藏滚动条
* {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.ant-upload.ant-upload-select-picture-card:hover {
  border-color: #95393c !important;
}

.ant-btn:hover,
.ant-btn:focus {
  color: #95393c;
  border-color: #95393c;
}

.ant-btn-primary:active,
.ant-btn-primary.active {
  color: #fff;
  background-color: #95393c;
  border-color: #95393c;
}

.ant-btn-primary:hover,
.ant-btn-primary:focus {
  color: #fff;
  background-color: #af4649;
  border-color: #af4649;
}
// tabs样式
.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active {
  color: #95393c;
  font-weight: bold;
  border-top: 2px solid #95393c;
}

.ant-tabs-nav .ant-tabs-tab:hover {
  color: #95393c;
}

// 分页样式
.ant-pagination-item-active:focus a,
.ant-pagination-item-active:hover a {
  color: #95393c;
}

.ant-pagination-item:focus a,
.ant-pagination-item:hover a {
  color: #95393c;
}

.ant-pagination-item-active a {
  color: #95393c;
}

.ant-pagination-item-active {
  border-color: #95393c;
}

.ant-select-dropdown-menu-item-active:not(.ant-select-dropdown-menu-item-disabled) {
  background-color: #ead4d5;
}

.ant-select-dropdown-menu-item-selected {
  background-color: #ead4d5;
}

.ant-select-dropdown-menu-item:hover:not(.ant-select-dropdown-menu-item-disabled) {
  background-color: #ead4d5;
}

.ant-table-row:hover {
  background-color: #ead4d5;
}

// .ant-table-thead > tr > th:hover {
//   background-color: #ead4d5;
// }
// .ant-table-thead > tr > th.ant-table-column-has-actions.ant-table-column-has-sorters:hover {
//   background: #ead4d5;
// }

.ant-input-group-addon .ant-select-open .ant-select-selection,
.ant-input-group-addon .ant-select-focused .ant-select-selection {
  color: #95393c;
}

.ant-calendar-date:hover {
  background: #ead4d5;
  cursor: pointer;
}

.ant-calendar-today .ant-calendar-date {
  color: #95393c;
  font-weight: bold;
  border-color: #95393c;
}

.ant-calendar-selected-date .ant-calendar-date:hover {
  background: #ead4d5;
}

.ant-calendar-selected-day .ant-calendar-date {
  background: #ead4d5;
}

.ant-calendar-selected-date .ant-calendar-date {
  color: #fff;
  background: #95393c;
  border: 1px solid transparent;
}

.ant-calendar-footer-btn a {
  color: #95393c;
}

.ant-calendar-footer-btn a:hover {
  color: #95393c;
}

.ant-upload-list-item-info a {
  color: #95393c;
}

.ant-upload-list-item:hover .ant-upload-list-item-info {
  background-color: #ead4d5;
}

.ant-radio-checked .ant-radio-inner {
  border-color: #95393c;
}

.ant-radio-wrapper:hover .ant-radio,
.ant-radio:hover .ant-radio-inner,
.ant-radio-input:focus + .ant-radio-inner {
  border-color: #95393c;
}

.ant-radio-inner::after {
  background-color: #95393c;
}

.renderagreenmentright-view-tab .ant-tabs-content {
  flex: 1;
  // border: 1px solid #d8d8d8;
  // border-top: 0;
  // border-bottom: 0;
}

.ant-table-thead
  > tr.ant-table-row-hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)
  > td,
.ant-table-tbody
  > tr.ant-table-row-hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)
  > td,
.ant-table-thead
  > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)
  > td,
.ant-table-tbody
  > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)
  > td {
  background: #f3ecec;
}

.ant-pagination-item-active:focus,
.ant-pagination-item-active:hover {
  border-color: #95393c;
}

.ant-pagination-prev:focus .ant-pagination-item-link,
.ant-pagination-next:focus .ant-pagination-item-link,
.ant-pagination-prev:hover .ant-pagination-item-link,
.ant-pagination-next:hover .ant-pagination-item-link {
  color: #95393c;
  border-color: #95393c;
}

.conditionArea_fixed {
  position: fixed;
  top: 0;
  width: 42%;
  // width: 49%;
  height: calc(100% - 67px);
  // height: 100%;
  overflow: scroll;
  margin-bottom: 67px;
  padding-top: 10px;
}
.conditionArea_no_fixed {
  height: 100%;
  overflow: scroll;
}

.ant-spin-dot-item {
  background-color: #95393c;
}

.ant-upload-picture-card-wrapper {
  width: 100%;
}

.ant-anchor-ink-ball {
  border: 2px solid #95393c;
}

.ant-anchor-link-active > .ant-anchor-link-title {
  color: #95393c;
}

.caseinfo-anchor-fixed a:hover {
  color: #95393c;
}
.ant-pagination-item:focus,
.ant-pagination-item:hover {
  border-color: #95393c;
}

// 允许页面文本选中
body {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.ant-calendar .ant-calendar-ok-btn {
  background-color: #95393c;
  border-color: #95393c;
  color: #fff;
}

.ant-calendar .ant-calendar-ok-btn:hover,
.ant-calendar .ant-calendar-ok-btn:focus {
  color: #fff;
  background-color: #95393c;
  border-color: #95393c;
}

.ant-calendar-time-picker-select li:hover {
  background: #ead4d5;
}

.ant-calendar-time-picker-select li:focus {
  color: #95393c;
}


.ant-menu-submenu-selected {
  color: #95393c;
}
.ant-menu-submenu-vertical > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::after, .ant-menu-submenu-vertical-left > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::after, .ant-menu-submenu-vertical-right > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::after, .ant-menu-submenu-inline > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::after, .ant-menu-submenu-vertical > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::before, .ant-menu-submenu-vertical-left > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::before, .ant-menu-submenu-vertical-right > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::before, .ant-menu-submenu-inline > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::before{
  background: linear-gradient(to right, #95393c, #95393c);
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner, .ant-checkbox:hover .ant-checkbox-inner, .ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color: #95393c;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #95393c;
  border-color: #95393c;
}

