.close{ display: none !important; }
/*字体颜色*/
.color-red{ color: #ff0618; }
.color-white{ color: #fff; }
.color-grey{ color: #9d9d9d; }
.color-grey1{ color: #666; }
.color-grey2{ color: #999; }
.color-black{ color: #000; }
.color-green{ color: #149614; }
.color-blue{ color: #09c; }
.color-orange{ color: #de9b0b; }
.color-yellow{ color: #f9f861; }

/*字体位置*/
.txt-c{ text-align: center; }
.txt-l{ text-align: left; }
.txt-r{ text-align: right; }

/*字号大小*/
.font-size-08{ font-size: .8rem; }
.font-size-09{ font-size: .9rem; }
.font-size-1{ font-size: 1rem; }
.font-size-11{ font-size: 1.1rem; }
.font-size-12{ font-size: 1.2rem; }
.font-size-13{ font-size: 1.3rem; }

/*背景色*/
.bg-orange{ background-color: #fbb10b; }
.bg-green{ background-color: #149614; }
.bg-green1{ background-color: #0f0; }
.bg-grey{ background-color: #9d9d9d; }
.bg-grey1{ background-color: #e6e6e6; }
.bg-grey2{ background-color: #f8f8f8; }
.bg-grey3{ background-color: #999; }
.bg-blue{ background-color: #09c; }
.bg-white{ background-color: #fff; }
.bg-red{ background-color: #ff0618; }

/*外边距*/
.mart-02{ margin-top: 0.2rem; }
.mart-03{ margin-top: 0.3rem; }
.mart-04{ margin-top: 0.4rem; }
.mart-05{ margin-top: 0.5rem; }

.marb-02{ margin-bottom: 0.2rem; }
.marb-03{ margin-bottom: 0.3rem; }
.marb-04{ margin-bottom: 0.4rem; }
.marb-05{ margin-bottom: 0.5rem; }

.marr-02{ margin-right: 0.2rem; }
.marr-03{ margin-right: 0.3rem; }
.marr-04{ margin-right: 0.4rem; }
.marr-05{ margin-right: 0.5rem; }


.marl-02{ margin-left: 0.2rem; }
.marl-03{ margin-left: 0.3rem; }
.marl-04{ margin-left: 0.4rem; }
.marl-05{ margin-left: 0.5rem; }

.martb-02{ margin: 0.2rem 0; }
.martb-03{ margin: 0.3rem 0; }
.martb-04{ margin: 0.4rem 0; }
.martb-05{ margin: 0.5rem 0; }

/*内边距*/
.pad-02{ padding: .2rem; }
.pad-03{ padding: .3rem; }
.pad-04{ padding: .4rem; }
.pad-05{ padding: .5rem; }

.padl-02{ padding-left: .2rem; }
.padl-03{ padding-left: .3rem; }
.padl-04{ padding-left: .4rem; }
.padl-05{ padding-left: .5rem; }

.pad-02{ padding-right: .2rem; }
.padr-03{ padding-right: .3rem; }
.padr-04{ padding-right: .4rem; }
.padr-05{ padding-right: .5rem; }

.padtb-02{ padding: .2rem 0; }
.padtb-03{ padding: .3rem 0; }
.padtb-04{ padding: .4rem 0; }
.padtb-05{ padding: .5rem 0; }

.padlr-02{ padding: 0 .2rem; }
.padlr-03{ padding: 0 .3rem; }
.padlr-04{ padding: 0 .4rem; }
.padlr-05{ padding: 0 .5rem; }

/*百分比宽度*/
.w-10{ width: 10%; }
.w-11{ width: 11%; }
.w-12{ width: 12%; }
.w-13{ width: 13%; }
.w-14{ width: 14%; }
.w-15{ width: 15%; }
.w-16{ width: 16%; }
.w-17{ width: 17%; }
.w-18{ width: 18%; }
.w-19{ width: 19%; }
.w-20{ width: 20%; }
.w-21{ width: 21%; }
.w-22{ width: 22%; }
.w-23{ width: 23%; }
.w-24{ width: 24%; }
.w-25{ width: 25%; }
.w-26{ width: 26%; }
.w-27{ width: 27%; }
.w-28{ width: 28%; }
.w-29{ width: 29%; }
.w-30{ width: 30%; }
.w-31{ width: 31%; }
.w-32{ width: 32%; }
.w-33{ width: 33%; }
.w-34{ width: 34%; }
.w-35{ width: 35%; }
.w-36{ width: 36%; }
.w-37{ width: 37%; }
.w-38{ width: 38%; }
.w-39{ width: 39%; }
.w-40{ width: 40%; }
.w-41{ width: 41%; }
.w-42{ width: 42%; }
.w-43{ width: 43%; }
.w-44{ width: 44%; }
.w-45{ width: 45%; }
.w-46{ width: 46%; }
.w-47{ width: 47%; }
.w-48{ width: 48%; }
.w-49{ width: 49%; }
.w-50{ width: 50%; }
.w-51{ width: 51%; }
.w-52{ width: 52%; }
.w-53{ width: 53%; }
.w-54{ width: 54%; }
.w-55{ width: 55%; }
.w-56{ width: 56%; }
.w-57{ width: 57%; }
.w-58{ width: 58%; }
.w-59{ width: 59%; }
.w-60{ width: 60%; }
.w-61{ width: 61%; }
.w-62{ width: 62%; }
.w-63{ width: 63%; }
.w-64{ width: 64%; }
.w-65{ width: 65%; }
.w-66{ width: 66%; }
.w-67{ width: 67%; }
.w-68{ width: 68%; }
.w-69{ width: 69%; }
.w-70{ width: 70%; }
.w-71{ width: 71%; }
.w-72{ width: 72%; }
.w-73{ width: 73%; }
.w-74{ width: 74%; }
.w-75{ width: 75%; }
.w-76{ width: 76%; }
.w-77{ width: 77%; }
.w-78{ width: 78%; }
.w-79{ width: 79%; }
.w-80{ width: 80%; }
.w-81{ width: 81%; }
.w-82{ width: 82%; }
.w-83{ width: 83%; }
.w-84{ width: 84%; }
.w-85{ width: 85%; }
.w-86{ width: 86%; }
.w-87{ width: 87%; }
.w-88{ width: 88%; }
.w-89{ width: 89%; }
.w-90{ width: 90%; }
.w-91{ width: 91%; }
.w-92{ width: 92%; }
.w-93{ width: 93%; }
.w-94{ width: 94%; }
.w-95{ width: 95%; }
.w-96{ width: 96%; }
.w-97{ width: 97%; }
.w-98{ width: 98%; }
.w-99{ width: 99%; }
/*---百分比高度---*/
.h10{ height: 10%; }
.h11{ height: 11%; }
.h12{ height: 12%; }
.h13{ height: 13%; }
.h14{ height: 14%; }
.h15{ height: 15%; }
.h16{ height: 16%; }
.h17{ height: 17%; }
.h18{ height: 18%; }
.h19{ height: 19%; }
.h20{ height: 20%; }
.h21{ height: 21%; }
.h22{ height: 22%; }
.h23{ height: 23%; }
.h24{ height: 24%; }
.h25{ height: 25%; }
.h26{ height: 26%; }
.h27{ height: 27%; }
.h28{ height: 28%; }
.h29{ height: 29%; }
.h30{ height: 30%; }
.h31{ height: 31%; }
.h32{ height: 32%; }
.h33{ height: 33%; }
.h34{ height: 34%; }
.h35{ height: 35%; }
.h36{ height: 36%; }
.h37{ height: 37%; }
.h38{ height: 38%; }
.h39{ height: 39%; }
.h40{ height: 40%; }
.h41{ height: 41%; }
.h42{ height: 42%; }
.h43{ height: 43%; }
.h44{ height: 44%; }
.h45{ height: 45%; }
.h46{ height: 46%; }
.h47{ height: 47%; }
.h48{ height: 48%; }
.h49{ height: 49%; }
.h50{ height: 50%; }
.h51{ height: 51%; }
.h52{ height: 52%; }
.h53{ height: 53%; }
.h54{ height: 54%; }
.h55{ height: 55%; }
.h56{ height: 56%; }
.h57{ height: 57%; }
.h58{ height: 58%; }
.h59{ height: 59%; }
.h60{ height: 60%; }
.h61{ height: 61%; }
.h62{ height: 62%; }
.h63{ height: 63%; }
.h64{ height: 64%; }
.h65{ height: 65%; }
.h66{ height: 66%; }
.h67{ height: 67%; }
.h68{ height: 68%; }
.h69{ height: 69%; }
.h70{ height: 70%; }
.h71{ height: 71%; }
.h72{ height: 72%; }
.h73{ height: 73%; }
.h74{ height: 74%; }
.h75{ height: 75%; }
.h76{ height: 76%; }
.h77{ height: 77%; }
.h78{ height: 78%; }
.h79{ height: 79%; }
.h80{ height: 80%; }
.h81{ height: 81%; }
.h82{ height: 82%; }
.h83{ height: 83%; }
.h84{ height: 84%; }
.h85{ height: 85%; }
.h86{ height: 86%; }
.h87{ height: 87%; }
.h88{ height: 88%; }
.h89{ height: 89%; }
.h90{ height: 90%; }
.h91{ height: 91%; }
.h92{ height: 92%; }
.h93{ height: 93%; }
.h94{ height: 94%; }
.h95{ height: 95%; }
.h96{ height: 96%; }
.h97{ height: 97%; }
.h98{ height: 98%; }
.h99{ height: 99%; }
.h100{ height: 100%; }

/*圆角*/
.br-10{ border-radius: 10%; }
.br-50{ border-radius: 50%; }
.br-60{ border-radius: 60%; }
.br-5px{ border-radius: 5px; }
.br-15px{ border-radius: 15px; }

/*浮动*/
.fl-left{ float: left; }
.fl-right{ float: right; }
/*清除浮动*/
.cls{ clear: both; overflow: hidden; }

/*weui导航栏*/
.weui-navbar__item { position: relative; display: block; -webkit-box-flex: 1; -webkit-flex: 1; flex: 1; padding: 13px 0;
    text-align: center; font-size: 15px; -webkit-tap-highlight-color: rgba(0,0,0,0); color: #888; }
.weui-navbar__item.weui-bar__item--on { color: #666; background-color: #f1f1f1; }
.weui-tab__bd{ padding-top: 50px; box-sizing: border-box; height: 100%; overflow-y: auto; }

.weui-tab__bd-item{ display: none; }
.weui-tab__bd-item--active{ display: block; }

/*面板导航条*/
.panel-title{ width: 100%; background-color: #9a9a9a; color: #f1f1f1; font-size: 0; }
.panel-title .panel-title-item{ display: inline-block; font-size: 1rem; text-align: center; }
.panel-content-item p{ float: left; }
.panel-content-item:after{ display: block; content: ""; clear: both; overflow: hidden; }


/*手机弹窗*/
.common-dialog{ width: 100%; height: 100%; background-color: rgba(173, 173, 173, .5); position: fixed;
    top: 0; left: 0; z-index: 999; display: flex; justify-content: center; align-items: center; }
.common-dialog .dialog-box{ position: relative; width: 100%; height: 100%; overflow-y: auto; }
.common-dialog .dialog-title, .common-dialog .dialog-content{ padding: .3rem .5rem; }
.common-dialog .dialog-title{ background-color: #29e; color: #fff; height: 1.8rem; line-height: 1.8rem; }
.common-dialog #close-icon{ position: absolute; top: 0; right: 0; color: #fff; display: block;
    height: 2.4rem; width: 1.8rem; line-height: 2.3rem; text-align: center; }