body{
  margin: 0;
  background: #ececec;
  font-size: 14px;
}
a{
  text-decoration: none;
}

.swiper-container{
  width: 100%;
  height: 8.5rem;
}
.swiper-container img{
  width: 100%;
  height: 100%;
}

.quick-main-1{
  display: flex;
  text-align: center;
  padding: .857rem 0 .785rem 0;
  background: #fff;
}
.two-pane-box{
  flex: 1;
  display: flex;
  flex-direction: column;
  color: #333;
}
.two-pane-icon{
  width: 4rem;
  height: 4rem;
  margin: 0 auto .571rem auto;
}
.two-pane-title{
  font-size: 1rem;
}

.quick-main-2{
  display: flex;
  padding: .57rem;
  flex-direction: column;
}
.quick-main-item{
  flex: 1;
  display: flex;
  margin-bottom: .357rem;
}
.quick-main-item:last-child{
  margin-bottom: 0;
}
.three-pane-box{
  flex: 1;
  display: flex;
  padding: .5rem;
  margin-right: .357rem;
  box-sizing: border-box;
  background-color: #fff;
  flex-direction: row;
}
.three-pane-box:last-child{
  margin-right: .0;
}
.three-pane-icon{
  width: 3.5rem;
  height: 3.5rem;
  box-sizing: border-box;
  margin-right: .3rem;
}
.three-pane-wrap{
  flex: 1;
  line-height: 1.5;
  flex-direction: column;
  height: 100%;
  display: flex;
}
.three-pane-title{
  flex: 1;
  font-size: .875rem;
  color: #333;
}
.three-pane-subTitle{
  flex: 1;
  font-size: .71rem;
  color: #999;
}

/* 选项卡 */
.quick-main-3{
  position: relative;
}
.show-href{
  width: 7.8rem;
  padding-left: 1.428rem;
  position: absolute;
  text-align: left;
  font-size: .9rem;
  color: #666;
  box-sizing: border-box;
}
/* 选择 */
input.show-href{
  visibility: visible;
  opacity: 0;
  filter: alpha(opacity=0);
  margin: 0;
  padding: 0;
  z-index: 2;
}
div.show-href{
  z-index: 1;
  background: #fff;
}
div.show-href > span{
  width: .215rem;
  height: 1.2rem;
  display: inline-block;
  background: #fff;
  position: relative;
  left: -.357rem;
  top: 3px;
}
/* 选中 */
input.show-href:checked + div.show-href{
  font-size: 1.15rem;
  font-weight: bold;
  color: #333;
}

input.show-href:checked + div.show-href > span{
  background: #33aaee;
}

input.show-href:checked + div.show-href + div.show-content{
  display: block;
}

/* 内容 */
div.show-content{
  position: absolute;
  padding-left: 7.85rem;
  width: 100%;
  top: 0;
  right: 0;
  display: none;
  box-sizing: border-box;
}
div.show-content > div.show-content-box{
  width: 100%;
  height: 100%;
  padding-top: .857rem;
  box-sizing: border-box;
  background-color: #fff;
  background-image: url("./images/pic_bg.svg");
  background-position: 100% 107%;
  background-size: 70% 30%;
  background-repeat: no-repeat;
}

.show-content-list{
  display: flex;
  flex-wrap: wrap;
}
.show-content-item{
  /* flex: 1; */
  width: 33.33%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.714rem;
  color: #333;
}
.show-content-item > img{
  width: 3rem;
  height: 3rem;
  margin: 0 auto .571rem auto;
}
.show-content-item > div{
  width: 100%;
  text-align: center;
}

.default-img{
  display: block;
  width: 100%;
  padding: 0 .857rem;
  box-sizing: border-box;
  margin-bottom: .857rem;
}